<section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="intro">
                    <h1>Our features</h1>
                    <p class="mx-auto">Description</p>
                </div>
                <div class="col-lg-5 py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-box">
                                {{!-- <img src="/static/images/.jpg" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Experts Trainer</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                {{!-- <img src="img/.png" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Gov Authorize Training Center</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                {{!-- <img src="img/.png" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Mini Project</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/static/image/bg_banner2.jpg"
                        alt="aboutimg">
                </div>
            </div>
        </div>
    </section>