<section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="intro">
                    <h1>About Us</h1>
                    {{!-- <p class="mx-auto">Description</p> --}}
                </div>
                <div class="col-lg-6 py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-box">
                                {{!-- <img src="/static/images/.jpg" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Experts Trainer</h5>
                                    <p>When it comes to trainers, we go above and beyond to provide you with the finest. Expert trainers form the backbone of our training center, offering personalized attention and guidance to each student. They understand that everyone has unique learning needs and adapt their teaching styles accordingly, ensuring that you receive tailored support throughout your educational journey. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                {{!-- <img src="img/.png" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Government Authorize Training Center</h5>
                                    <p> All SmartByte Computer Education branches are proudly certified by NIELIT (National Institute of Electronics and Information Technology)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                {{!-- <img src="img/.png" alt=""> --}}
                                <div class="ms-4">
                                    <h5>Mini Project</h5>
                                    <p>Our Mini Projects offers hands-on coding challenges that reflect the latest industry trends and technologies. Students tackle small-scale coding assignments that simulate real-world problems. From creating database systems to implementing software solutions, these projects provide a practical learning environment where students can refine their coding abilities and showcase their proficiency.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 aboutsecdesktop">
                    <img  style="border-radius:3%;" src="/static/image/aboutus.jpg"
                        alt="aboutimg">
                </div>
            </div>
        </div>
    </section>