<div class="testimonial-slider mt-5">
  <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="carousel">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <center>
            <h1><strong>Testimonials</strong></h1>
          </center><br>
          <p style="margin:auto; text-align:center; max-width:800px; font-size:16px;">
            Autodice has ensured a premium quality Hands-on experience for students to learn, access and solve any Real
            life Technological problems.<br><br>

            Listen to what our students have to say...
          </p>

          <div class="owl-slider">
            <div id="carousel" class="owl-carousel">
              {{#each detailsPage}}
              <div class="item">

                <div class="card text-center">
                  <img class="card-img-top mx-auto d-block" src="{{this.imgURl}}" alt="Card image cap" style=" border-radius: 50%;
    width: calc(6rem + 4vmin);
    height: calc(6rem + 4vmin);
    position: relative;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background-size: cover;
    margin-bottom: calc(0.7rem + 0.5vmin);">
                  <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text" style="overflow-y: scroll; max-height:160px;">{{this.subTitle}}</p>

                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>

