



<section class="bg-light brachDec" id="branch">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Dombivli</h6>
                    <h1>Dombivli</h1>
                    <p class="mx-auto">Description</p>
                </div>
            </div>
        </div>
    </div>
     

    <div class="container">
        <div class="row">
            {{#each dombivli_branch}}
            <div class="col-md-4 my-1">
                <div class="card kcol">
                    <div class="card-body">
                        <h5 class=""> {{this.branch_name}}</h5>
                        <p class="">{{this.description}}</p>


                        <p class="">{{this.address}}</p>
                        <span style="font-size:20px; text-align:right;">
                            <h6><a class="backbtn" href="/#branch" style="text-decoration:none;">
                            <img src="static/images/backbutton.png" style="height:15px; width:15px; left:1px">Back</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                            <a href="{{this.link}}" style="text-decoration:none;">Google Map</a></h6>
                        </span>

                    </div>
                </div>
            </div>
            {{/each}}



        </div>
    </div>
