<section class="bg-light kalyanPage" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h1>Our Features</h1>
                    <p class="mx-auto">Description</p>
                </div>
            </div>
        </div>
    </div>


      <div class="owl-slider">
        <div id="carousel" class="owl-carousel">
            {{#each slides}}
            <div class="item">

                <div class="card">
                    <img class="card-img-top" style="height: 182px;" src="{{this.imgURl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.subTitle}}</p>
                        <div>
                            <span style="font-size:20px; text-align:right;">
                                <h6><a href="/details/{{this.id}}" style="text-decoration:none;">Learn more</a>&nbsp;&nbsp;
                                    {{!-- <a href="#" style="text-decoration:none;">Enroll</a> --}}
                                     <a href="#exampleModal" data-bs-toggle="modal" style="text-decoration:none;">Enroll</a>
                                </h6>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>