 <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">SmartByte<span class="dot">.</span></h4>
                        <p>A-103, Sonal place Beside Mordern Cafe, Phadke road DOMIVLI(East)</p>
                        <div class="col-auto social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="col-auto conditions-section">
                            <a href="#">privacy</a>
                            <a href="#">terms</a>
                            <a href="#">disclaimer</i></a>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.451852760933!2d73.08815411744385!3d19.219129499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7958adee99891%3A0xe1ef672c4a36f895!2sNew%20Modern%20Cafe!5e0!3m2!1sen!2sin!4v1680518889523!5m2!1sen!2sin"
                    width="30%" height="300px"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <h6 style="text-align:center; color:white;">Copyright 2022. All rights Reserved</h6>
            <h6 style="color:white;">Distributed By:-&nbsp;&nbsp;&nbsp;<a href="http://smartbytecommittee.com"
                    style="text-decoration:none; color:white">SmartByte Computer Education</a></h6>
        </div>
    </footer>