 <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">SmartByte<span class="dot">.</span></h4>
                        <p>A-103, Sonal place Beside Mordern Cafe, Phadke road DOMIVLI (East)</p>
                        <div class="col-auto social-icons">
                            <a href="https://smartbytecomputer.com/facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://smartbytecomputer.com/linkedin/"><i class='bx bxl-linkedin'></i></a>
                            <a href="https://smartbytecomputer.com/instagram/"><i class='bx bxl-instagram'></i></a>
                            <a href="https://wa.me/9029964453?text="><i class='bx bxl-whatsapp'></i></a>
                            {{!-- <a href="#"><i class='bx bxl-pinterest'></i></a> --}}
                        </div>
                        <div class="col-auto conditions-section">
                            <a href="#">privacy</a>
                            <a href="#">terms</a>
                            <a href="#">disclaimer</i></a>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15069.810843950514!2d73.08000577468708!3d19.219092059990388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be79561cb2ff415%3A0x15adbc26ce8bdad2!2sSmartByte%20Computer%20Education%2C%20Head%20Office%2C%20Dombivli!5e0!3m2!1sen!2sin!4v1684750817730!5m2!1sen!2sin" width="30%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <h6 style="text-align:center; color:white;">Copyright 2023. All rights Reserved</h6>
            <h6 style="color:white;">Distributed By:-&nbsp;&nbsp;&nbsp;<a href="http://smartbytecommittee.com"
                    style="text-decoration:none; color:white">SmartByte Computer Education</a></h6>
        </div>
    </footer>