
    <!-- BOTTOM NAV -->
    <nav class=" navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container col-12">
            <a class="navbar-brand" href="#"><img style=" width: 150px; margin-left: 67px;"
                    src="http://drive.google.com/uc?export=view&id=1MDMnfxOtVV_O_8X0r89Tjuylra6YWocg"></a>
            <!-- <a class="navbar-brand" href="#">SmartByte<span class="dot">.</span></a> -->
            <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"
                    role="img">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                        d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
                <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#branch">Branch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/features">features</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="#activity">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li> --}}
                    
                </ul>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="btn btn-brand ms-lg-3">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-sm-12 bg-cover" style="background-image: url(/static/image/c2.jpg); min-height:300px;">
                            </div>
                            <div class="col-lg-8">
                                <form class="p-lg-5 col-12 row g-3" action="https://formspree.io/f/xbjbwnza"
                                    method="post">
                                    <div>  <a class="nav-item nav-link" href="/" style="text-align: right;">Back</a>
                                        <h1>Get Enquiry</h1>
                                        <p>Fell free to contact us and we will get back to you as soon as possible</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="userName" class="form-label">First name</label>
                                        <input type="text" class="form-control" placeholder="Ex.Divya" name="firstname"
                                            id="fName" aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="userName" class="form-label">Last name</label>
                                        <input  type="text" class="form-control" placeholder="Ex.Banode" name="lastname"
                                            id="lName" aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-12">
                                        <label for="userName" class="form-label">Email address</label>
                                        <input  type="email" class="form-control" placeholder="divyabanode@example.com"
                                            name="email" id="email" aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-12">
                                        <label for="userName" class="form-label">Contact Number</label>
                                        <input  type="number" class="form-control" placeholder="+91 12345 67890"
                                            name="phno" id="cno" aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-12">
                                        <label for="exampleInputEmail1" class="form-label">Write Enquiry</label>
                                        <textarea  name="textarea" placeholder="Enquiry" class="form-control"
                                            name="massage" id="msg" rows="4"></textarea>
                                    </div>

                                    <div class="col-12">
                                   
                                    <button type="submit" id="modify-cols-btn" class="btn btn-brand" disabled>Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   